{% extends 'main.html' %} 

{% block content %}
<!-- About-->
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2>Read</h2><br><br>
                {% for blogs in blogs.all %} 
                <h3>제목 : <a href="{% url 'detail' blogs.id %}">{{blogs.title}}</a></h3>
                <h4>내용 : {{blogs.content}}</h4>
                <p>작성일 : {{blogs.pub_date}}</p><hr>
                {% if blogs.image %}
                <img src="{{ blogs.image.url }}" width="300" height="300" alt="image">
            {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}